<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Home Page</h1>
    <% if (locals.fullname) { %>
        <h3>Welcome <%= fullname %></h3>
    <% } %>
    <% if (locals.blog) { %>
        <div class="card" style="width: 18rem;">
            <% if (locals.blog.coverImageUrl) { %>
                <img class="card-img-top" src=<%=blog.coverImageUrl%> alt="Card image cap">
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%=blog.body %></p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    <% } %>
    <%- include('./partials/script') %>
</body>
</html>